#FF4

[WINDOW]
[SETUP] SETUP_ADVANCED_WIN C_TYPE_EXCLUSIVE 1024 768
[XY] 0 0
[RANGES] 0 0 1024 768 1024 768
[CLIENTAREA] 0 0 1024 768 0 "Full Window"
[FONT] OCR_EXT_14
[GROUP] 500
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID C_STATE_DOWN WIN_SETUP	

[TILE]				
[SETUP]	NID 0 BAR_M
[XYWH] 0 728 1024 40
[FLAGBITON] C_BIT_ABSOLUTE			
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]				
[SETUP]	NID 0 BAR_O
[XYWH] 0 0 1024 32
[FLAGBITON] C_BIT_ABSOLUTE			
[FLAGBITON] C_BIT_HORIZONTAL

[BITMAP] 
[SETUP] NID 0 SETUP_HEADER_GFX			
[XY] 262 525 500 85
[FLAGBITON] C_BIT_ABSOLUTE			

########################## Anistropic Filtering

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH]  326 296 150 1
[COLOR] 230 230 230 
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0 
[XYWH]  476 288 1 9
[COLOR] 230 230 230 
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_ANISOTROPIC_FILTERING
[XY] 326 271
[FGCOLOR] 200 240 250 BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_ANISOTROPIC_FILTERING, C_TYPE_TOGGLE 460 270
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Mipmapping

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 326 328 150 1
[COLOR] 230 230 230 
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0 
[XYWH] 476 320 1 9
[COLOR] 230 230 230 
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_MIPMAPPING
[XY] 326 303
[FGCOLOR] 200 240 250BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_MIPMAPPING, C_TYPE_TOGGLE 460 302
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Linear Mipmap Filtering

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 326 360 150 1
[COLOR] 230 230 230 
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0 
[XYWH] 476 352 1 9
[COLOR] 230 230 230
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_LINEAR_MIPMAP_FILTERING
[XY] 326 335
[FGCOLOR] 200 240 250BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_LINEAR_MIPMAP_FILTERING, C_TYPE_TOGGLE 460 334
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Windowed Mode

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 326 392 150 1
[COLOR] 230 230 230
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0
[XYWH] 476 384 1 9
[COLOR] 230 230 230
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_WINDOWED
[XY] 326 367
[FGCOLOR] 200 240 250 BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_WINDOWED, C_TYPE_TOGGLE 460 366
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Render To Texture

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 501 296 150 1
[COLOR] 230 230 230 
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0 
[XYWH] 651 288 1 9
[COLOR] 230 230 230 
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_RENDER_TO_TEXTURE
[XY] 501 271
[FGCOLOR] 200 240 250BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_RENDER_TO_TEXTURE, C_TYPE_TOGGLE 635 270
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Enable OpenXR VR (Artscout - 2026, replaces Render 2D Cockpit)

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 501 328 150 1
[COLOR] 230 230 230 
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0
[XYWH] 651 320 1 9
[COLOR] 230 230 230 
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_OPENXR
[XY] 501 303
[FGCOLOR] 200 240 250BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_OPENXR, C_TYPE_TOGGLE 635 302
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Font Texel Alignment

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 501 360 150 1
[COLOR] 230 230 230 
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0
[XYWH] 651 352 1 9
[COLOR] 230 230 230 
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_FONT_TEXEL_ALIGNMENT
[XY] 501 335
[FGCOLOR] 200 240 250BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_FONT_TEXEL_ALIGNMENT, C_TYPE_TOGGLE 635 334
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Enable QuadViews (Artscout - 2026)

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 501 392 150 1
[COLOR] 230 230 230
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0
[XYWH] 651 384 1 9
[COLOR] 230 230 230
[CLUSTER] 8002

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_ADVANCED_QUADVIEWS
[XY] 501 367
[FGCOLOR] 200 240 250BLUE
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] SETUP_ADVANCED_QUADVIEWS, C_TYPE_TOGGLE 635 366
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## OpenXR Resolution Scale slider (Artscout - 2026, STEPS 5 = 50..100% step 10)

[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_SETUP_ADVANCED_VR_RESSCALE
[XY] 501 398
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-13 y+1 16 16"
[SETUP] SETUP_ADVANCED_VR_RESSCALE_READOUT C_TYPE_INTEGER
[XYWH] 700 398 24 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 100
[INTEGER] 100
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 501 422 150 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] SETUP_ADVANCED_VR_RESSCALE, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 501 417 133 13
[STEPS] 5
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 650 415 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

########################## Buttons

[BUTTON]
[SETUP] CANCEL, C_TYPE_NORMAL, 0 728
[IMAGES] B_BACK B_BACK NULL NULL
[GROUP] 500
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[FLAGBITON] C_BIT_ABSOLUTE
[HELPTEXT] HELP_CLOSE
[CURSOR] CRSR_F16_ON

[BITMAP]
[SETUP] NID 0 B_BLANK100
[XY] 100 728
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] APPLY C_TYPE_NORMAL, 412 728
[IMAGES] B_APPLY, B_APPLY,  NULL, B_APPLY 
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 8000
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] OK C_TYPE_NORMAL, 512 728
[IMAGES] B_OK, B_OK,  NULL, B_OK 
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 500
[CLUSTER] 8001
[CURSOR] CRSR_F16_ON

[BITMAP]
[SETUP] NID 0 B_BLANK100
[XY] 612 728
[FLAGBITON] C_BIT_ABSOLUTE

#[BUTTON]
#[SETUP] DO_SYNC, C_TYPE_NORMAL, 212 740
#[IMAGES] BID_122_UP, BID_122_DOWN  NULL BID_COMMS_LARGE_UP 
#[GROUP] 500
#[CLUSTER] 8001
#[FLAGBITON] C_BIT_ABSOLUTE
#[LABELALL] TXT_DOSYNC
#[FONT] BANK_GOTHIC_1
#[UPCOLOR] 230 230 230
#[DOWNCOLOR] 0 255 0
#[DISCOLOR] 102 102 102
#[TEXTOFFSET] C_STATE_UP 0 -1
#[SOUNDBITE] SND_PUSH C_STATE_DOWN
#[CURSOR] CRSR_F16_ON
