#NightFalcon
#FF4

[WINDOW]
[SETUP] SETUP_WIN C_TYPE_NORMAL 1024 768
[XY] 0 0 
[RANGES] 0 0 1024 768 1024 768
[FONT] HAETTEN_18
[CLIENTAREA] 0 0 1024 768 0 "Full Window"
[CLIENTAREA] 273 273 140 140 1 "Joystick Cal. Window"
[CLIENTAREA] 568 192 256 226 2 "Graphics Rendering Window"
[CLIENTAREA] 532 255 288 201 3 "Key List Window"
[GROUP] 8000
[FLAGBITON] C_BIT_ABSOLUTE

[BITMAP]
[SETUP] NID C_STATE_DOWN WIN_SETUP

[TILE]				
[SETUP]	NID 0 BAR_M
[XYWH] 0 728 1024 40
[FLAGBITON] C_BIT_ABSOLUTE			
[FLAGBITON] C_BIT_HORIZONTAL

[TILE]				
[SETUP]	NID 0 BAR_O
[XYWH] 0 0 1024 32
[FLAGBITON] C_BIT_ABSOLUTE			
[FLAGBITON] C_BIT_HORIZONTAL

[BITMAP]
[SETUP] NID 0 B_BLANK50X32
[XY] 800 0
[FLAGBITON] C_BIT_ABSOLUTE

################SIMULATION####################

[BUTTON]
[SETUP] SIM_TAB, C_TYPE_RADIO, 0 0
[IMAGES] SETUP_SIM_UP, SETUP_SIM_DOWN, NULL, NULL
[STATE] 1
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8001 "Enable"
[USERDATA] C_STATE_1 8002 "Disable the rest"
[USERDATA] C_STATE_2 8003
[USERDATA] C_STATE_3 8004
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SKILL_LEVEL
[XY] 199 219
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 220 123 16
[Color] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_SKILL  0
[XYWH] 391 221 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_ACE
[ITEMUSERDATA] ACE_LEVEL C_STATE_0 79
[ADDITEM] VETERAN_LEVEL C_TYPE_ITEM TXT_VETERAN
[ITEMUSERDATA] VETERAN_LEVEL C_STATE_0 59
[ADDITEM] ROOKIE_LEVEL C_TYPE_ITEM TXT_ROOKIE
[ITEMUSERDATA] ROOKIE_LEVEL C_STATE_0 39
[ADDITEM] CADET_LEVEL C_TYPE_ITEM TXT_CADET
[ITEMUSERDATA] CADET_LEVEL C_STATE_0 19
[ADDITEM] RECRUIT_LEVEL C_TYPE_ITEM TXT_RECRUIT
[ITEMUSERDATA] RECRUIT_LEVEL C_STATE_0 0
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_REALISM
[XY] 199 252
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 253 123 16
[COLOR] 0 0 0
[CLUSTER] 8001

[EDITBOX]
[SETUP] REALISM_READOUT C_TYPE_INTEGER
[XYWH] 391 252 122 15
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 100
[INTEGER] 100
[FLAGBITOFF] C_BIT_ENABLED
[FGCOLOR] 0 255 0
[CURSORCOLOR] 65 128 173 BLUE
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_FLTMODEL
[XY] 199 287
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 288 123 16
[COLOR] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_FLTMOD  0
[XYWH] 391 289 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_FLTMOD_1 C_TYPE_ITEM  TXT_ACCURATE
[ITEMUSERDATA] SET_FLTMOD_1 C_STATE_0 0
[ITEMUSERDATA] SET_FLTMOD_1 C_STATE_1 100
[ADDITEM] SET_FLTMOD_2 C_TYPE_ITEM  TXT_SIMPLIFIED
[ITEMUSERDATA] SET_FLTMOD_2 C_STATE_0 6
[ITEMUSERDATA] SET_FLTMOD_2 C_STATE_1 100
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AVIONICS
[XY] 199 313
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 314 123 16
[COLOR] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_RADAR  0
[XYWH] 391 315 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0 
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_RADAR_0 C_TYPE_ITEM  TXT_FULL_REALISM
[ITEMUSERDATA] SET_RADAR_0 C_STATE_0 0
[ITEMUSERDATA] SET_RADAR_0 C_STATE_1 100
[ADDITEM] SET_RADAR_1 C_TYPE_ITEM  TXT_ANAPG68 
[ITEMUSERDATA] SET_RADAR_1 C_STATE_0 8
[ITEMUSERDATA] SET_RADAR_1 C_STATE_1 80
[ADDITEM] SET_RADAR_2 C_TYPE_ITEM  TXT_SUPERTWS
[ITEMUSERDATA] SET_RADAR_2 C_STATE_0 16
[ITEMUSERDATA] SET_RADAR_2 C_STATE_1 40    
[ADDITEM] SET_RADAR_3 C_TYPE_ITEM  TXT_360
[ITEMUSERDATA] SET_RADAR_3 C_STATE_0 24
[ITEMUSERDATA] SET_RADAR_3 C_STATE_1 20
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_WEAPONEFFECTS
[XY] 199 339
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 340 123 16
[COLOR] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_WEAPEFF  0
[XYWH] 391 341 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_WEAPEFF_1 C_TYPE_ITEM  TXT_ACCURATE      
[ITEMUSERDATA] SET_WEAPEFF_1 C_STATE_0 0
[ITEMUSERDATA] SET_WEAPEFF_1 C_STATE_1 100
[ADDITEM] SET_WEAPEFF_2 C_TYPE_ITEM  TXT_ENHANCED 
[ITEMUSERDATA] SET_WEAPEFF_2 C_STATE_0 4
[ITEMUSERDATA] SET_WEAPEFF_2 C_STATE_1 100
[ADDITEM] SET_WEAPEFF_3 C_TYPE_ITEM  TXT_EXAGGERATED
[ITEMUSERDATA] SET_WEAPEFF_3 C_STATE_0 8
[ITEMUSERDATA] SET_WEAPEFF_3 C_STATE_1 100
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AUTOPILOT
[XY] 199 365
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 366 123 16
[COLOR] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_AUTOPILOT	0
[XYWH] 391 367 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_AUTO_1 C_TYPE_ITEM  TXT_AUTOPILOT_3AXIS
[ITEMUSERDATA] SET_AUTO_1 C_STATE_0 0
[ITEMUSERDATA] SET_AUTO_1 C_STATE_1 100
[ADDITEM] SET_AUTO_2 C_TYPE_ITEM  TXT_AUTOPILOT_WP
[ITEMUSERDATA] SET_AUTO_2 C_STATE_0 1
[ITEMUSERDATA] SET_AUTO_2 C_STATE_1 100
[ADDITEM] SET_AUTO_3 C_TYPE_ITEM  TXT_AUTOPILOT_COMBAT
[ITEMUSERDATA] SET_AUTO_3 C_STATE_0 3
[ITEMUSERDATA] SET_AUTO_3 C_STATE_1 60
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_REFUELING
[XY] 199 391
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 392 123 16
[COLOR] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_REFUELING	0
[XYWH] 391 393 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_REFUEL_1 C_TYPE_ITEM  TXT_REFUEL_REALISTIC
[ITEMUSERDATA] SET_REFUEL_1 C_STATE_0 0
[ITEMUSERDATA] SET_REFUEL_1 C_STATE_1 100
[ADDITEM] SET_REFUEL_2 C_TYPE_ITEM  TXT_REFUEL_MODERATED
[ITEMUSERDATA] SET_REFUEL_2 C_STATE_0 1
[ITEMUSERDATA] SET_REFUEL_2 C_STATE_1 100
[ADDITEM] SET_REFUEL_3 C_TYPE_ITEM  TXT_REFUEL_SIMPLIFIED
[ITEMUSERDATA] SET_REFUEL_3 C_STATE_0 3
[ITEMUSERDATA] SET_REFUEL_3 C_STATE_1 100
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PADLOCKING
[XY] 199 417
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID 0
[XYWH] 391 418 123 16
[COLOR] 65 128 173
[CLUSTER] 8001

[LISTBOX] 
[SETUP] SET_PADLOCK	0
[XYWH] 391 419 122 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[ADDITEM] SET_PADLOCK_1 C_TYPE_ITEM  TXT_PADLOCK_REALISTIC
[ITEMUSERDATA] SET_PADLOCK_1 C_STATE_0 0
[ITEMUSERDATA] SET_PADLOCK_1 C_STATE_1 100
[ADDITEM] SET_PADLOCK_2 C_TYPE_ITEM  TXT_PADLOCK_ENHANCED
[ITEMUSERDATA] SET_PADLOCK_2 C_STATE_0 3
[ITEMUSERDATA] SET_PADLOCK_2 C_STATE_1 100
[ADDITEM] SET_PADLOCK_4 C_TYPE_ITEM  TXT_PADLOCK_DISABLED
[ITEMUSERDATA] SET_PADLOCK_4 C_STATE_0 0
[ITEMUSERDATA] SET_PADLOCK_4 C_STATE_1 100
[SOUNDBITE] SND_MENU C_STATE_DOWN
[CURSOR] CRSR_LIST_F16

[LINE]
[SETUP] NID, 0 
[XYWH] 605 219 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 214 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_INVULNERABILITY
[XY] 605 199
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_INVULNERABILITY, C_TYPE_TOGGLE 794 199
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 1
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 245 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 240 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNLIMITED_FUEL
[XY] 605 225
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_FUEL, C_TYPE_TOGGLE 794 225
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 10
[USERDATA] C_STATE_1 60
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 271 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 266 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UNLIMITED_CHAFFLARES
[XY] 605 251
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_CHAFFLARES, C_TYPE_TOGGLE 794 251
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 15
[USERDATA] C_STATE_1 80
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 297 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 292 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_COLLISIONS
[XY] 605 277
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_COLLISIONS, C_TYPE_TOGGLE 794 277
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 5
[USERDATA] C_STATE_1 60
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 323 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 318 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_BLACKOUT
[XY] 605 303
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_BLACKOUT, C_TYPE_TOGGLE 794 303
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 10
[USERDATA] C_STATE_1 80
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 349 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 344 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_IDTAGS
[XY] 605 329
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_IDTAGS, C_TYPE_TOGGLE 794 329
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 8
[USERDATA] C_STATE_1 80
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 375 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 370 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_AUTO_SCALE
[XY] 605 382
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] AUTO_SCALE, C_TYPE_TOGGLE 794 382
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

[LINE]
[SETUP] NID, 0 
[XYWH] 605 401 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 396 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_BULLSEYE_CALLS
[XY] 605 355
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[BUTTON]
[SETUP] SET_BULLSEYE_CALLS, C_TYPE_TOGGLE 794 355
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SIM_INFOBAR
[XY] 605 407
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 605 427 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 422 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[BUTTON]
[SETUP] SETUP_SIM_INFOBAR, C_TYPE_TOGGLE 794 407
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SIM_SUBTITLES
[XY] 605 433
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 605 453 205 1
[COLOR] 230 230 230
[CLUSTER] 8001

[LINE]
[SETUP] NID, 0 
[XYWH] 810 448 1 6
[COLOR] 230 230 230
[CLUSTER] 8001

[BUTTON]
[SETUP] SETUP_SIM_SUBTITLES, C_TYPE_TOGGLE 794 433
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8001
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 100
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_ACMI_FILE_SIZE
[XY] 524 150
[FGCOLOR] 200 240 250
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8001

[FILL]
[SETUP] NID 0
[XYWH] 686 150 92 18
[COLOR] 65 128 173
[CLUSTER] 8001

[EDITBOX] "x+w-13 y+1 16 16"
[SETUP] ACMI_FILE_SIZE C_TYPE_INTEGER
[XYWH] 687 150 64 16
[FONT] BANK_GOTHIC_16
[MAXINTEGER] 1000
[MAXLEN] 6
[INTEGER] 5
[BGCOLOR] 0 63 30
[CURSORCOLOR] 230 230 230
[FGCOLOR] 0 255 0
[CLUSTER] 8001
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_TEXT

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MB
[XY] 778 150
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT
[CLUSTER] 8001

#######################################Graphics#########################################	

[BUTTON]
[SETUP] GRAPHICS_TAB, C_TYPE_RADIO, 200 0
[IMAGES] SETUP_GFX_UP, SETUP_GFX_DOWN, NULL, NULL
[GROUP] 100
[STATE] 0
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8002 "Enable"
[USERDATA] C_STATE_1 8001 "Disable the rest"
[USERDATA] C_STATE_2 8003
[USERDATA] C_STATE_3 8004
[CURSOR] CRSR_F16_ON

############# List boxes
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_VIDEO_DRIVER
[XY] 219 190
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 353 191 325 16
[COLOR] 65 128 173
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] SET_VIDEO_DRIVER  0
[XYWH] 353 191 325 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDITEM] VIDEO_DRIVERS C_TYPE_ITEM TXT_EMPTY
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_VIDEO_CARD
[XY] 219 213
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 353 214 325 16
[COLOR] 65 128 173
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] SET_VIDEO_CARD  0
[XYWH] 353 214 325 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDITEM] VIDEO_CARDS C_TYPE_ITEM TXT_EMPTY
[SOUNDBITE] SND_MENU C_STATE_DOWN

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_RESOLUTION
[XY] 219 236
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 353 237 325 16
[COLOR] 65 128 173
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] SET_RESOLUTION  0
[XYWH] 353 237 325 16
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDITEM] RES_640X480 C_TYPE_ITEM TXT_640X480
[ADDITEM] RES_800X600 C_TYPE_ITEM TXT_800X600
[ADDITEM] RES_1024X768 C_TYPE_ITEM TXT_1024X768
[ADDITEM] RES_1152X864 C_TYPE_ITEM TXT_1152X864
[ADDITEM] RES_1600X1200 C_TYPE_ITEM TXT_1600X1200
[SOUNDBITE] SND_MENU C_STATE_DOWN

######################## Sliders

[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_TERRAIN_DETAIL
[XY] 520 267
[FGCOLOR] 200 240 250 BLUE
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-16 y+1 16 16"
[SETUP] TEX_DETAIL_READOUT C_TYPE_INTEGER
[XYWH] 656 267 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 4
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 520 291 149 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] TERRAIN_DETAIL, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 520 286 133 13
[STEPS] 6
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-8 1 8"
[SETUP] NID, 0 
[XYWH] 669 284 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT], TXT_OBJECT_DETAIL
[XY] 520 299
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-16 y+1 16 16"
[SETUP] OBJECT_DETAIL_READOUT C_TYPE_INTEGER
[XYWH] 656 299 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 4
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 520 323 149 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] OBJECT_DETAIL, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 520 318 133 13
[STEPS] 7
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0 
[XYWH] 669 316 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_OBJECT_POPULATION
[XY] 520 331
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-13 y+1 16 16"
[SETUP] DISAGG_LEVEL_READOUT C_TYPE_INTEGER
[XYWH] 656 331 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 6
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 520 355 149 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] DISAGG_LEVEL, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 520 350 133 13
[STEPS] 5
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0 
[XYWH] 669 348 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

#[TEXT] "x y+1"
#[SETUP] NID,0
#[SETTEXT] TXT_PLAYER_BUBBLE
#[XY] 403 363
#[FGCOLOR] 200 240 250
#[FONT] HAETTEN_16
#[CLUSTER] 8002
#[FLAGBITON] C_BIT_ABSOLUTE

#[EDITBOX] "x+w-13 y+1 16 16"
#[SETUP] PLAYER_BUBBLE_READOUT C_TYPE_INTEGER
#[XYWH] 539 363 16 16
#[FONT] BANK_GOTHIC_16
#[MAXLEN] 4
#[MAXINTEGER] 99
#[INTEGER] 3
#[FGCOLOR] 0 255 0
#[FLAGBITOFF] C_BIT_ENABLED
#[CLUSTER] 8002
#[FLAGBITON] C_BIT_ABSOLUTE

#[LINE] "x y+h w 1"
#[SETUP] NID, 0 
#[XYWH] 403 387 149 1
#[COLOR] 230 230 230
#[CLUSTER] 8002
#[FLAGBITON] C_BIT_ABSOLUTE

#[SLIDER] "x y+h-5 w-16 13"
#[SETUP] PLAYER_BUBBLE_SLIDER, C_TYPE_HORIZONTAL
#[SLIDERIMAGE] BID_SCROLL
#[XYWH] 403 382 133 13
#[STEPS] 7
#[CLUSTER] 8002
#[FLAGBITON] C_BIT_ABSOLUTE
#[CURSOR] CRSR_F16_ON
#[DRAGCURSOR] CRSR_HDRAG
#[SOUNDBITE] SND_SLIDER C_STATE_DOWN

#[LINE] "x+w y+h-7 1 8"
#[SETUP] NID, 0 
#[XYWH] 552 380 1 8
#[COLOR] 230 230 230
#[CLUSTER] 8002
#[FLAGBITON] C_BIT_ABSOLUTE

# Special Effects
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_SFX_LEVEL
[XY] 520 363
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-13 y+1 16 16"
[SETUP] SFX_LEVEL_READOUT C_TYPE_INTEGER
[XYWH] 656 363 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 5
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 520 387 149 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] SFX_LEVEL, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 520 382 133 13
[STEPS] 4
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0 
[XYWH] 669 380 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

# MSAA Antialiasing checkbox (Artscout - 2026) -- between Special Effects and Vehicle Magnification
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_MSAA_ENABLE
[XY] 520 395
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] MSAA_ENABLE, C_TYPE_TOGGLE 656 395
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

# MSAA Samples slider (Artscout - 2026) -- STEPS 7 spans 1..8 samples
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_MSAA_SAMPLES
[XY] 520 427
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-13 y+1 16 16"
[SETUP] MSAA_SAMPLES_READOUT C_TYPE_INTEGER
[XYWH] 656 427 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 4
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 520 451 149 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] MSAA_SAMPLES, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 520 446 133 13
[STEPS] 7
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 669 444 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

# Vehicle Magnification (Artscout - 2026: shifted down to 459 to make room for the MSAA rows above)
[TEXT] "x y+1"
[SETUP] NID,0
[SETTEXT] TXT_VEHICLE_SIZE
[XY] 520 459
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[EDITBOX] "x+w-13 y+1 16 16"
[SETUP] VEHICLE_SIZE_READOUT C_TYPE_INTEGER
[XYWH] 656 459 16 16
[FONT] BANK_GOTHIC_16
[MAXLEN] 4
[MAXINTEGER] 99
[INTEGER] 1
[FGCOLOR] 0 255 0
[FLAGBITOFF] C_BIT_ENABLED
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0
[XYWH] 520 483 149 1
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER] "x y+h-5 w-16 13"
[SETUP] VEHICLE_SIZE, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 520 478 133 13
[STEPS] 4
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[SOUNDBITE] SND_SLIDER C_STATE_DOWN

[LINE] "x+w y+h-7 1 8"
[SETUP] NID, 0
[XYWH] 669 476 1 8
[COLOR] 230 230 230
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

########################## Haze

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_HAZING
[XY] 349 267
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON] "x+w-16 y"
[SETUP] HAZING, C_TYPE_TOGGLE 473 267
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 349 291 150 1
[COLOR] 230 230 230
[CLUSTER] 8002

[LINE] "x+w y+h-5 1 6"
[SETUP] NID, 0 
[XYWH] 499 283 1 9
[COLOR] 230 230 230
[CLUSTER] 8002

########################## Advanced Lighting

[LINE]
[SETUP] NID, 0 
[XYWH] 349 323 150 1
[COLOR] 230 230 230
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 499 315 1 9
[COLOR] 230 230 230
[CLUSTER] 8002

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SPECULAR_LIGHTING
[XY] 349 299
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON]
[SETUP] SETUP_SPECULAR_LIGHTING, C_TYPE_TOGGLE 473 298
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

########################## Cloud Shadows

[LINE]
[SETUP] NID, 0 
[XYWH] 349 355 150 1
[COLOR] 230 230 230
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 499 347 1 9
[COLOR] 230 230 230
[CLUSTER] 8002

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_REALWEATHER_SHADOWS
[XY] 349 332
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[BUTTON]
[SETUP] SETUP_REALWEATHER_SHADOWS, C_TYPE_TOGGLE 473 330
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

#[BOX] "Render border"
#[SETUP] NID, 0 
#[XYWH] 567 191 257 227
#[COLOR] 0 0 0
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 8002

#[LINE]
#[SETUP] NID, 0 
#[XYWH] 567 451 257 1
#[COLOR] 230 230 230
#[CLUSTER] 8002

#[LINE]
#[SETUP] NID, 0 
#[XYWH] 824 446 1 6
#[COLOR] 230 230 230
#[CLUSTER] 8002

#[TEXT]
#[SETUP] NID C_TYPE_RIGHT
#[SETTEXT] TXT_PREVIEW
#[XY] 567 426
#[FGCOLOR] 200 240 250BLUE
#[FONT] HAETTEN_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT
#[CLUSTER] 8002

#[BUTTON]
#[SETUP] RENDER, C_TYPE_TOGGLE 808 429
#[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
#[SOUNDBITE] SND_RADIO C_STATE_DOWN
#[FLAGBITON] C_BIT_ABSOLUTE
#[CLUSTER] 8002
#[CURSOR] CRSR_F16_ON

#[TEXT]
#[SETUP] LOADING C_TYPE_LEFT
#[SETTEXT] TXT_LOADING
#[XY] 672 290
#[FGCOLOR] 200 240 250
#[FONT] HAETTEN_16
#[FLAGBITON] C_BIT_ABSOLUTE
#[FLAGBITON] C_BIT_LEFT
#[FLAGBITON] C_BIT_INVISIBLE

[BUTTON]
[SETUP] SET_GRAPHICS_ADVANCED C_TYPE_NORMAL, 800 0
[IMAGES] B_ADV_UP, B_ADV_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8002
[CURSOR] CRSR_F16_ON

[BITMAP]
[SETUP] NID 0 B_BLANK50X32
[XY] 1000 0
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002

######################################## Weather Condition
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_REALWEATHER_CONDITION
[XY] 349 364
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID 0
[XYWH] 349 385 154 16
[COLOR] 65 128 173
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX] 
[SETUP] SETUP_REALWEATHER 0
[XYWH] 349 386 153 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ITEMUSERDATA] SETUP_REALWEATHER_SUNNY C_STATE_0 SETUP_REALWEATHER_SUNNY
[ITEMUSERDATA] SETUP_REALWEATHER_FAIR C_STATE_0 SETUP_REALWEATHER_FAIR
[ITEMUSERDATA] SETUP_REALWEATHER_POOR C_STATE_0 SETUP_REALWEATHER_POOR
[ITEMUSERDATA] SETUP_REALWEATHER_INCLEMENT C_STATE_0 SETUP_REALWEATHER_INCLEMENT
[ITEMUSERDATA] SETUP_REALWEATHER_LOCKED C_STATE_0 SETUP_REALWEATHER_LOCKED
[ITEMUSERDATA] SETUP_REALWEATHER_UNLOCKED C_STATE_0 SETUP_REALWEATHER_UNLOCKED
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN
[CURSOR] CRSR_LIST_F16
[SOUNDBITE] SND_MENU C_TYPE_LMOUSEDOWN

########## Season selection
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_SEASON
[XY] 349 407
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 349 428 154 16
[COLOR] 65 128 173
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002

[LISTBOX]
[SETUP] SETUP_SEASON  0
[XYWH] 349 428 153 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDITEM] SETUP_SEASON_SUMMER C_TYPE_ITEM TXT_SETUP_SEASON_SUMMER
[ADDITEM] SETUP_SEASON_FALL C_TYPE_ITEM TXT_SETUP_SEASON_FALL
[ADDITEM] SETUP_SEASON_WINTER C_TYPE_ITEM TXT_SETUP_SEASON_WINTER
[ADDITEM] SETUP_SEASON_SPRING C_TYPE_ITEM TXT_SETUP_SEASON_SPRING
[SOUNDBITE] SND_MENU C_STATE_DOWN

# Canopy Cues
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CANOPY_CUES
[XY] 349 450
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8002

[LINE]
[SETUP] NID, 0 
[XYWH] 349 471 154 16
[COLOR] 65 128 173
[CLUSTER] 8002
[FLAGBITON] C_BIT_ABSOLUTE

[LISTBOX]
[SETUP] SET_CANOPY_CUE  0
[XYWH] 349 471 153 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8002
[ADDITEM] CUE_NONE C_TYPE_ITEM TXT_NONE
[ADDITEM] CUE_LIFT_LINE C_TYPE_ITEM TXT_LIFT_LINE
[ADDITEM] CUE_REFLECTION_MAP C_TYPE_ITEM TXT_REFLECTION
[ADDITEM] CUE_BOTH C_TYPE_ITEM TXT_BOTH
[SOUNDBITE] SND_MENU C_STATE_DOWN

#################################### Sounds ##########################################

[BUTTON]
[SETUP] SOUND_TAB, C_TYPE_RADIO, 400 0
[IMAGES] SETUP_SND_UP, SETUP_SND_DOWN, NULL, NULL
[STATE] 0
[GROUP] 100
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8003 "Enable"
[USERDATA] C_STATE_1 8001 "Disable the rest"
[USERDATA] C_STATE_2 8002
[USERDATA] C_STATE_3 8004
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_TEST
[XY] 448 188
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_VOLUME
[XY] 778 188
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_RIGHT
[CLUSTER] 8003

########################## player VOICE

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_PLAYERVOICE
[XY] 225 217
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[BUTTON] "x+w-16 y"
[SETUP] PLAYERVOICE, C_TYPE_TOGGLE 409 217
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON

############### UI Comms

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UICOMMS
[XY] 225 237
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[BUTTON] "x+w-16 y"
[SETUP] UICOMMS, C_TYPE_TOGGLE 409 237
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON

############### Enable New Engine Sounds

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UI_ENABLE_3D_SOUNDS
[XY] 225 257
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[BUTTON] "x+w-16 y"
[SETUP] UI_ENABLE_3D_SOUNDS, C_TYPE_TOGGLE 409 257
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON

################ Enable Doppler Effect

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UI_ENABLE_DOPPLER_EFFECT
[XY] 225 277
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[BUTTON] "x+w-16 y"
[SETUP] UI_ENABLE_DOPPLER_EFFECT, C_TYPE_TOGGLE 409 277
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON

################ Enable Distance Effects

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UI_ENABLE_DISTANCE_EFFECT
[XY] 225 297
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[BUTTON] "x+w-16 y"
[SETUP] UI_ENABLE_DISTANCE_EFFECT, C_TYPE_TOGGLE 409 297
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON

################# Enable Internal Sounds in External Views

[TEXT] "x y+1"
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_UI_ENABLE_INTERNAL_SOUND
[XY] 225 317
[FGCOLOR] 200 240 250
[FONT] HAETTEN_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8003

[BUTTON] "x+w-16 y"
[SETUP] UI_ENABLE_INTERNAL_SOUND, C_TYPE_TOGGLE 409 317
[IMAGES] BID_CHK1_OFF,BID_CHK1_ON,NULL,NULL
[SOUNDBITE] SND_RADIO C_STATE_DOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON

################## End of Enable Internal Sounds...

[BUTTON]
[SETUP] ENGINE_SND, C_TYPE_TOGGLE, 447 217
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_ENGINE 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 139
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 226 128 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 220 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] ENGINE_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 221 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 139
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_ENGINE_SOUND_GROUP

[BUTTON]
[SETUP] SIDEWINDER_SND, C_TYPE_TOGGLE, 447 237
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SIDEWINDER 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 107
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_SIDEWINDER_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 246 128 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 240 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] SIDEWINDER_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 241 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[SOUNDBITE] SND_SLIDER C_STATE_DOWN
[USERDATA] C_STATE_0 107
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_SIDEWINDER_SOUND_GROUP
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG

[BUTTON]
[SETUP] RWR_SND, C_TYPE_TOGGLE, 447 257
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_RWR 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 190
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_RWR_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 266 128 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 260 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] RWR_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 261 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 190
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_RWR_SOUND_GROUP

[BUTTON]
[SETUP] COCKPIT_SND, C_TYPE_TOGGLE, 447 277
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_COCKPIT 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 217
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_COCKPIT_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 286 128 1
[COLOR] 230 230 230	 BLUE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 280 1 7
[COLOR] 230 230 230	 BLUE
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] COCKPIT_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 281 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 217
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_COCKPIT_SOUND_GROUP

[BUTTON]
[SETUP] COM1_SND, C_TYPE_TOGGLE, 447 297
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_OTHER_COMMS 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM1_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 306 128 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 299 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] COM1_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 301 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 0
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM1_SOUND_GROUP

[BUTTON]
[SETUP] COM2_SND, C_TYPE_TOGGLE, 447 317
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_FLIGHT_COMMS 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 1
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM2_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 326 128 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 319 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] COM2_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 321 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 1
[USERDATA] C_STATE_1 1
[USERDATA] C_STATE_2 SND_COM2_SOUND_GROUP

[BUTTON]
[SETUP] SOUNDFX_SND, C_TYPE_TOGGLE, 447 337
[IMAGES] LOCK_SOUND_UP, LOCK_SOUND_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_SOUNDFX 
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[DOWNCOLOR] 0 255 0
[DISCOLOR] 102 102 102
[TEXTOFFSET] C_STATE_UP 20 0
[TEXTOFFSET] C_STATE_DOWN 20 0
[LABELFLAGBITON] C_BIT_LEFT
[CLUSTER] 8003
[USERDATA] C_STATE_0 132
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_FX_SOUND_GROUP
[CURSOR] CRSR_F16_ON

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 653 346 128 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 340 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] SOUNDFX_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 653 341 123 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 132
[USERDATA] C_STATE_1 4
[USERDATA] C_STATE_2 SND_FX_SOUND_GROUP

[TEXT]			
[SETUP] NID	C_TYPE_LEFT	
[SETTEXT] TXT_UISOUNDFX
[XY] 235 377
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[FLAGBITON] C_BIT_ABSOLUTE		
[CLUSTER] 8003

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 397 386 385 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 379 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] UISOUNDFX_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 397 381 380 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_0 SND_GAMES
[USERDATA] C_STATE_1 2
[USERDATA] C_STATE_2 SND_UI_SOUND_GROUP

[TEXT]			
[SETUP]	NID	C_TYPE_LEFT	
[SETTEXT]	TXT_MUSIC
[XY] 235 397
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[flagbiton]	C_BIT_ABSOLUTE		
[CLUSTER] 8003

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 397 405 385 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 398 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] MUSIC_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 397 400 380 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_1 3
[USERDATA] C_STATE_2 SND_MUSIC_SOUND_GROUP

############ External Sound Volume in the cockpit

[TEXT]			
[SETUP]	NID	C_TYPE_LEFT	
[SETTEXT]	TXT_EXTERNAL_SOUND_VOLUME
[XY] 235 417
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[flagbiton]	C_BIT_ABSOLUTE		
[CLUSTER] 8003

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 397 425 385 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 418 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] EXTERNAL_SOUND_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 397 417 380 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_1 3
[USERDATA] C_STATE_2 SND_MUSIC_SOUND_GROUP

##### End of External Slider

[TEXT]			
[SETUP]	NID	C_TYPE_LEFT	
[SETTEXT]	TXT_MASTER_VOLUME
[XY] 235 457
[FONT] BANK_GOTHIC_16
[UPCOLOR] 200 240 250
[FLAGBITON]	C_BIT_ABSOLUTE		
[CLUSTER] 8003

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 397 465 385 1
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[LINE] "x y+h w 1"
[SETUP] NID, 0 
[XYWH] 781 458 1 7
[COLOR] 230 230 230
[CLUSTER] 8003
[FLAGBITON] C_BIT_ABSOLUTE

[SLIDER]
[SETUP] MASTER_VOLUME, C_TYPE_HORIZONTAL
[SLIDERIMAGE] BID_SCROLL
[XYWH] 397 460 380 15
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8003
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_HDRAG
[USERDATA] C_STATE_1 5
[USERDATA] C_STATE_2 SND_MASTER_SOUND_GROUP


####################################Controllers########################################


# Controller
[BUTTON]
[SETUP] CONTROLLERS_TAB, C_TYPE_RADIO, 600 0
[IMAGES] SETUP_JOY_UP, SETUP_JOY_DOWN, NULL, NULL
[GROUP] 100
[STATE] 0
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_RADIO C_TYPE_MOUSEOVER
[SOUNDBITE] SND_FILE C_STATE_DOWN
[USERDATA] C_STATE_0 8004 "Enable"
[USERDATA] C_STATE_1 8001 "Disable the rest"
[USERDATA] C_STATE_2 8002
[USERDATA] C_STATE_3 8003

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_CONTROLLER
[XY] 532 158
[FGCOLOR] 255 255 255
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[LINE]
[SETUP] NID 0
[XYWH] 532 176 290 16
[COLOR] 65 128 173
[CLUSTER] 8004

[LISTBOX]
[SETUP] JOYSTICK_SELECT  0
[XYWH] 532 176 285 15
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_EMPTY
[SOUNDBITE] SND_MENU C_STATE_DOWN

########################## #22: function search + device filter (two labeled rows)
# Row 1: "Search by action:" + input field
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_KEYSEARCH
[XY] 532 196
[FGCOLOR] 200 240 250
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[EDITBOX]
[SETUP] SETUP_KEY_SEARCH C_TYPE_TEXT
[XYWH] 660 195 161 14
[MAXLEN] 40
[FONT] OCR_EXT_12
[FGCOLOR] 0 255 0
[CURSORCOLOR] 255 255 255
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_VCENTER
[CURSOR] CRSR_TEXT
[CLUSTER] 8004

[LINE]
[SETUP] NID 0
[XYWH] 660 209 161 1
[COLOR] 65 128 173
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

# Row 2: "Filter keys by device:" + device dropdown
[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETUP_KEYDEVFILTER
[XY] 532 214
[FGCOLOR] 200 240 250
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[LINE]
[SETUP] NID 0
[XYWH] 688 213 143 15
[COLOR] 65 128 173
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004

[LISTBOX]
[SETUP] SETUP_KEY_DEVFILTER  0
[XYWH] 688 213 142 14
[NORMCOLOR] 230 230 230
[SELCOLOR] 0 255 0
[FONT] OCR_EXT_12
[DROPDOWN] BID_DROPDOWN
[FLAGBITON] C_BIT_ABSOLUTE
[CLUSTER] 8004
[CURSOR] CRSR_LIST_F16
[ADDITEM] ACE_LEVEL C_TYPE_ITEM TXT_EMPTY
[SOUNDBITE] SND_MENU C_STATE_DOWN

[BITMAP]
[SETUP] NID 0 MFD
[XY] 173 176
[CLUSTER] 8004

[BITMAP]
[SETUP] JOY_INDICATOR 0 MFD_CENTER
[XY] 0 0
[CLUSTER] 8004
[CLIENT] 1

[TEXT]
[SETUP] CAL_TEXT C_TYPE_RIGHT
[SETTEXT] TXT_CTR_JOY
[XY] 182 396 227 29
[FGCOLOR] 200 240 250
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_INVISIBLE

[TEXT]
[SETUP] CAL_TEXT2 C_TYPE_RIGHT
[SETTEXT] TXT_LINE2
[XY] 182 410 227 29
[FGCOLOR] 200 240 250
[FONT] OCR_EXT_12
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[FLAGBITON] C_BIT_INVISIBLE

[BUTTON]
[SETUP] RIGHT_HAT, C_TYPE_CUSTOM, 428 335
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULLBID_HIGHHAT_RIGHT_DIS
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] LEFT_HAT, C_TYPE_CUSTOM, 214 334
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] UP_HAT, C_TYPE_CUSTOM, 320 220
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] DOWN_HAT, C_TYPE_CUSTOM, 322 450
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BOX] "Throttle"
[SETUP] NID 0
[XYWH] 282 285 15 115
[COLOR] 0 255 0
[CLUSTER] 8004

[LINE] "Throttle"
[SETUP] THROTTLE 0
[XYWH] 283 286 7 114
[COLOR] 0 121 0
[CLUSTER] 8004

[LINE] "Throttle 2"
[SETUP] THROTTLE2 0
[XYWH] 290 286 7 114
[COLOR] 0 121 0
[CLUSTER] 8004

[LINE] "Throttle"
[SETUP] AB_DETENT 0
[XYWH] 283 286 14 1
[COLOR] 0 255 0
[CLUSTER] 8004

[LINE] "IdleCutoff"
[SETUP] SETUP_IDLE_CUTOFF 0
[XYWH] 283 286 14 1
[COLOR] 0 121 0
[CLUSTER] 8004

[BOX] "RUDDER"
[SETUP] NID 0
[XYWH] 387 285 15 115
[COLOR] 0 255 0
[CLUSTER] 8004

[LINE] "RUDDER"
[SETUP] RUDDER 0
[XYWH] 388 286 14 114
[COLOR] 0 121 0
[CLUSTER] 8004

[BITMAP]
[SETUP] NID 0 B_BLANK100
[XY] 100 728
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CALIBRATE C_TYPE_NORMAL, 410 182
[IMAGES] MFD_BUTTON, MFD_BUTTON, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004

[BUTTON]
[SETUP] SET_AB_DETENT C_TYPE_NORMAL, 248 182
[IMAGES] MFD_BUTTON, MFD_BUTTON, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004

[BUTTON]
[SETUP] J1 C_TYPE_CUSTOM, 214 262
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J2 C_TYPE_CUSTOM, 214 299
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J3 C_TYPE_CUSTOM, 214 372
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J4 C_TYPE_CUSTOM, 214 408
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J5 C_TYPE_CUSTOM, 428 262
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J6 C_TYPE_CUSTOM, 428 299
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J7 C_TYPE_CUSTOM, 428 372
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[LABELFLAGBITON] C_BIT_BOTTOM
[FLAGBITOFF] C_BIT_MOUSEOVER
[CLUSTER] 8004

[BUTTON]
[SETUP] J8 C_TYPE_CUSTOM, 428 408
[IMAGES] MFD_SELECT_OFF MFD_SELECT_ON NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[LABELALL] TXT_
[FONT] OCR_EXT_12
[UPCOLOR] 230 230 230
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITOFF] C_BIT_MOUSEOVER
[LABELFLAGBITON] C_BIT_BOTTOM
[CLUSTER] 8004

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_KEY
[XY] 532 231
[FGCOLOR] 255 255 255
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_MAPPING
[XY] 667 231
[FGCOLOR] 255 255 255
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[BOX]
[SETUP] NID, 0 
[XYWH] 532 254 289 202
[COLOR] 230 230 230
[CLUSTER] 8004

[BUTTON]
[SETUP] KEYCODES C_TYPE_NORMAL 4 2
[BUTTONTEXT] C_STATE_0 TXT_SPACE
[CLIENT] 3
[GROUP] 8000
[CLUSTER] 8004
[UPCOLOR] 0 255 0
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[FONT] ARIAL_NARROW_14
[FLAGBITON] C_BIT_LEFT
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ENABLED

[TEXT]
[SETUP] MAPPING C_TYPE_LEFT
[SETTEXT] TXT_SPACE
[XY] 92 2
[CLIENT] 3
[GROUP] 8000
[CLUSTER] 8004
[FGCOLOR] 200 240 250
[FONT] ARIAL_NARROW_14
[FLAGBITON] C_BIT_LEFT
[SOUNDBITE] SND_FILE C_STATE_DOWN
[FLAGBITON] C_BIT_ENABLED

[LINE]
[SETUP] HLINE 0 
[XYWH] 1 19 289 1
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 8004
[GROUP] 8000

[LINE]
[SETUP] VLINE 0
[XYWH] 88 1 1 19
[COLOR] 230 230 230
[CLIENT] 3
[CLUSTER] 8004
[GROUP] 8000

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_INPUT
[XY] 532 476
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] CONTROL_KEYS C_TYPE_LEFT
[SETTEXT] TXT_SPACE
[XY] 612 477
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] USER_INPUT C_TYPE_LEFT
[SETTEXT] TXT_SPACE
[XY] 726 477
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[LINE]
[SETUP] NID 0
[XYWH] 531 493 290 16
[COLOR] 65 128 173
[CLUSTER] 8004

[TEXT]
[SETUP] FUNCTION_LIST C_TYPE_RIGHT
[SETTEXT] TXT_SPACE
[XY] 537 492
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

[TEXT]
[SETUP] FUNCTION_LIST2 C_TYPE_RIGHT
[SETTEXT] TXT_SPACE
[XY] 728 500
[FGCOLOR] 230 230 230
[FONT] OCR_EXT_14
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[CLUSTER] 8004

###################################################################################

#New advanced controller menu setup BMS
[BUTTON]
[SETUP] SETUP_CONTROL_ADVANCED C_TYPE_NORMAL, 800 0
[IMAGES] B_ADV_UP, B_ADV_DOWN, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] KEYMAP_LOAD C_TYPE_NORMAL, 824 728
[IMAGES] B_LOAD, B_LOAD, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] KEYMAP_SAVE C_TYPE_NORMAL, 924 728
[IMAGES] B_SAVE100, B_SAVE100, NULL, NULL
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_FILE C_STATE_DOWN
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON

[TEXT]
[SETUP] NID C_TYPE_RIGHT
[SETTEXT] TXT_SETTINGS_FOR_COLON
[XY] 200 150
[FGCOLOR] 230 230 230
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT

[SCROLLBAR]
[SETUP] NID C_TYPE_VERTICAL
[XYWH] 822 254 13 202
[CLIENT] 3
[FLAGBITON] C_BIT_ABSOLUTE
[SLIDERIMAGE] BID_SCROLL
[BUTTONIMAGES] BID_SCROLLCAP_TOP_OFF BID_SCROLLCAP_TOP_ON BID_SCROLLCAP_BOTTOM_OFF BID_SCROLLCAP_BOTTOM_ON
[BGLINE] 65 128 173
[CLUSTER] 8004
[CURSOR] CRSR_F16_ON
[DRAGCURSOR] CRSR_VDRAG_ON
[INCREMENT] 16

[BUTTON]
[SETUP] SET_LOGBOOK C_TYPE_NORMAL 350 150
[FLAGBITON] C_BIT_USELINE
[BUTTONTEXT] C_STATE_0 TXT_EMPTY
[GROUP] 5000
[UPCOLOR] 0 255 0
[DOWNCOLOR] 230 230 230
[DISCOLOR] 102 102 102
[FONT] BANK_GOTHIC_16
[FLAGBITON] C_BIT_ABSOLUTE
[FLAGBITON] C_BIT_LEFT
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[FLAGBITON] C_BIT_ENABLED
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] CANCEL C_TYPE_NORMAL, 362 728
[IMAGES] B_CANCEL, B_CANCEL,  NULL, B_CANCEL 
[FLAGBITON] C_BIT_ABSOLUTE
[TEXTOFFSET] C_STATE_UP 0 -1
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 8000
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] APPLY C_TYPE_NORMAL, 462 728
[IMAGES] B_APPLY, B_APPLY,  NULL, B_APPLY 
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 8000
[CURSOR] CRSR_F16_ON

[BUTTON]
[SETUP] OK C_TYPE_NORMAL, 562 728
[IMAGES] B_OK, B_OK,  NULL, B_OK 
[FLAGBITON] C_BIT_ABSOLUTE
[SOUNDBITE] SND_PUSH C_STATE_DOWN
[GROUP] 8000
[CURSOR] CRSR_F16_ON

[BITMAP]
[SETUP] NID 0 B_BLANK100
[XY] 662 728
[FLAGBITON] C_BIT_ABSOLUTE

[BUTTON]
[SETUP] CLOSE_WINDOW,C_TYPE_NORMAL 0 728
[IMAGES] B_BACK B_BACK NULL NULL
[GROUP] 8000
[SOUNDBITE] SND_CLOSE C_TYPE_LMOUSEUP
[HOTKEY] DIK_ESCAPE
[CURSOR] CRSR_F16_ON
[HELPTEXT] HELP_CANCEL









